<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.CategoryMapper">

    <!-- 부서명으로 부서 찾기 -->
    <select id="findByName" parameterType="string" resultType="com.example.server.vo.Category">
        SELECT id, name FROM category WHERE name = #{name}
    </select>

    <!-- 새로운 부서 추가 -->
    <insert id="insert" parameterType="com.example.server.vo.Category" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO category (name) VALUES (#{name})
    </insert>

    <select id="findById" parameterType="long" resultType="com.example.server.vo.Category">
        SELECT * FROM category WHERE id = #{id}
    </select>

    <select id="findPopularCategories" resultType="com.example.server.dto.category.response.CategoryCountDto">
        SELECT name, COUNT(*) AS count
        FROM (
                SELECT MIN(jr.id) AS min_id
                FROM job_recruit jr
                WHERE jr.created_at >= NOW() - INTERVAL 30 DAY
                GROUP BY jr.title, jr.company_id
             ) AS unique_jobs
        JOIN job_recruit_category jrc ON unique_jobs.min_id = jrc.job_recruit_id
        JOIN category c ON c.id = jrc.category_id
        GROUP BY c.name
        ORDER BY count DESC
        LIMIT 5
    </select>
</mapper>
