<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jobservice.mapper.JobRecruitStackMapper">
    <insert id="insert" parameterType="map">
        INSERT INTO job_recruit_stack(job_recruit_id, stack_id)
        VALUES(#{id}, #{stack.id})
    </insert>
</mapper>