<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jobservice.mapper.JobRecruitMapper">

    <insert id="insert" parameterType="com.example.jobservice.vo.JobRecruit" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO job_recruit (title, work_experience, url, department_id, company_id, type_id)
        VALUES (#{title}, #{workExperience}, #{url}, #{departmentId}, #{companyId}, #{typeId})
    </insert>

    <select id="findAll" resultMap="JobRecruitMap">
        SELECT
            jr.id, jr.title, jr.created_at, jr.work_experience, jr.url,
            c.name AS company_name,
            t.name AS type_name
        FROM job_recruit jr
        JOIN company c ON c.id = jr.company_id
        JOIN type t ON t.id = jr.type_id
        ORDER BY jr.created_at DESC
        LIMIT #{pageable.pageSize}
        OFFSET #{pageable.offset}
    </select>
    <select id="findCategoriesByRecruitId" resultType="string">
        SELECT c.name
        FROM job_recruit_category jrc
        JOIN category c ON c.id = jrc.category_id
        WHERE jrc.job_recruit_id = #{id}
    </select>
    <select id="findStacksByRecruitId" resultType="string">
        SELECT s.name
        FROM job_recruit_stack jrs
        JOIN stack s ON s.id = jrs.stack_id
        WHERE jrs.job_recruit_id = #{id}
    </select>


    <resultMap id="JobRecruitMap" type="com.example.jobservice.vo.jobrecruit.JobRecruitPaging">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="url" column="url"/>
        <result property="workExperience" column="work_experience"/>
        <result property="createdAt" column="created_at"/>
        <result property="company" column="company_name" />
        <result property="type" column="type_name" />

        <collection property="categories" ofType="string"
                    select="findCategoriesByRecruitId" column="id"/>

        <collection property="stacks" ofType="string"
                    select="findStacksByRecruitId" column="id"/>
    </resultMap>
</mapper>


