<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jobservice.mapper.JobRecruitMapper">

    <insert id="insert" parameterType="com.example.jobservice.vo.JobRecruit" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO job_recruit (title, work_experience, url, department_id, company_id, category_id, type_id)
        VALUES (#{title}, #{workExperience}, #{url}, #{departmentId}, #{companyId}, #{categoryId}, #{typeId})
    </insert>

    <select id="findAll" resultType="com.example.jobservice.vo.JobRecruit">
        SELECT *
        FROM job_recruit
        ORDER BY created_at DESC
        LIMIT #{pageable.pageSize}
        OFFSET #{pageable.offset}
    </select>

</mapper>
