<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jobservice.mapper.StackMapper">

    <select id="findAll" resultType="com.example.jobservice.vo.Stack">
        SELECT * FROM stack
    </select>

    <!-- 부서명으로 부서 찾기 -->
    <select id="findByName" parameterType="string" resultType="com.example.jobservice.vo.Stack">
        SELECT id, name FROM stack WHERE name = #{name}
    </select>

    <!-- 새로운 부서 추가 -->
    <insert id="insert" parameterType="string" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO stack (name) VALUES (#{name})
    </insert>

    <select id="findPopularStacks" resultType="com.example.jobservice.dto.stack.response.StackCountDto">
        SELECT s.name, COUNT(*) AS count
        FROM (
                SELECT MIN(jr.id) AS min_id
                FROM job_recruit jr
                WHERE  jr.created_at >= NOW() - INTERVAL 30 DAY
                GROUP BY jr.title, jr.company_id
             ) AS unique_jobs
        JOIN job_recruit_stack jrs ON unique_jobs.min_id = jrs.job_recruit_id
        JOIN stack s ON s.id = jrs.stack_id
        GROUP BY s.name
        ORDER BY count DESC
        LIMIT 10
    </select>

</mapper>
